* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-container-color: #c1e8ff;
  --body-color: black;
}

body {
  background-color: #11212D;
  font-family: 'Montserrat';
  color: var(--body-color)
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  width: 500px;
  border-radius: 10px;
  background: var(--main-container-color);
  margin-top: 100px;
  transition: 0.5s ease-in-out;
}

.main-body {
  padding: 10px;
}

.main__search {
  display: flex;
  justify-content: space-around;
}

.main__search-field {
  border-radius: 20px;
  border: none;
  width: 70%;
  font-size: 1em;
  text-align: start;
  padding: 5px 10px;
}

.theme-btn {
  width: 30px;
}

.main__weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
}

.weather__location {
  text-align: center;
}

.weather__city {
  font-size: 3em;
}

.weather__country {
  font-size: 1.3em;
}

.weather__img{ 
  padding: 10px 0px;
  width: 100px;
  height: auto;
}

.weather__degree {
  font-size: 3em;
}

.weather__feels-like {
  font-size: 1.4em;
}

.weather__details {
  padding: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.weather__wind,
.weather__humidity {
  display: flex;
  align-items: center;
  gap: 5px;
}

.weather__wind-img {
  width: 50px;
  height: auto;
}

.weather__humidity-img {
  width: 40px;
  height: auto;
}

.weather__wind-img,
.weather__humidity-img {
  color: black;
}
